body {
    background: #531405;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    margin: 10px 0px 15px 0px;
    width: 200px;
}

input:focus, select:focus{
    outline:none !important;
    border:none !important;
}

header {
    background: #3e3e3e;
    
    justify-content: right;
    width: 100%;
    display:flex;
}

header button {
    border: none;
    color: tan;
}

header button:hover, header button:focus {
    color: tan;
    background: #00000029;
}

header select {
    color: tan;
    display: inline-block;
    height: 38px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 10px;
    padding: 0;
}

header select:hover {
    background: #00000029;
}

option {
    background: #3e3e3e;
}

.dataTable {
    background: #ffeed4;
    border-radius: 4px 4px 0px 0px;
    max-width:70em;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    background: #d3bb9a;
    border-radius: 4px 4px 0px 0px;
}

.filter-locations {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

fieldset {
    max-width: 60em;
    margin: 5px 20px;
}

.locationList {
    display: flex;
    flex-flow: wrap;
}

.locationList label {
    font-weight: normal;
}

.filter-locations button {
    width: 50%;
    padding: 0;
    border: 1px solid grey;
    background: #d3bb9a;
}

.modal {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000066;
    position: fixed;
    z-index: 1;
}

.about {
    width: 75%;
    max-width: 600px;
    background: linear-gradient(#ffeed4, #e7d4bb);
    border-radius: 4px;
    padding: 30px;
    box-shadow: -5px 5px 20px 0px #3e3e3e;
    position: fixed;
    left: 50%;
    top: 230px;
    transform: translate(-50%, 0);
    color: #3e3e3e;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.close-btn {
    font-size: 1.5em;
    padding: 0px 10px;
    color: #222222;
    position: absolute;
    right: 5px;
    top: 5px;
}

.close-btn:hover {
    color: #222222;
}

.about-content img {
    width: 30%;
    height: fit-content;
    float: right;
}

.market-orders table {
    display: block;
}

.market-orders {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}

.market-orders td, .market-orders th {
    padding-left: 5px !important;
}

caption {
    font-size: large;
}

.arrow {
    font-size: 3rem;
    line-height: 3rem;
}

.market-order-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.market-order-headers {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
}

.orders-container {
    position: relative;
    padding: 20px 10px 0px 10px;
}

.loading-container {
    background: #c9bcac78;
    position: absolute;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(1px);
    left: 0;
    right: 0;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}
.spinner {
    margin: 100px auto;
    font-size: 6px;
    position: relative;
    text-indent: -9999em;
    border-top: 2em solid rgb(255 255 255 / 40%);
    border-right: 2em solid rgb(255 255 255 / 40%);
    border-bottom: 2em solid rgb(255 255 255 / 40%);
    border-left: 2em solid #555555b8;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

table {
    border-spacing: 0px;
}

.profit-order.dropdown {
    background: #d3bb9a91;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.market-orders-td {
    border-bottom: 1px solid black;
}

.profit-order.dropdown td {
    border-top: 1px solid black;
}

.extra-orders td:last-child {
    border-bottom: none;
}

.mo-left {
    border-right: 1px solid black;
}

.empty-table td {
    text-align: center;
    height: 200px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-btn {
    font-size: 1.5em;
    font-family: monospace;
}

ul.suggestions {
    position: absolute;
    list-style: none;
    background: white;
    min-width: 190px;
    z-index: 1;
    border: 1px solid #d3bb9a;
    border-top: none;
    border-radius: 0px 4px 4px 0px;
}

.suggestion {
    margin: 0;
    padding: 0.5rem 0 1rem 1rem;
}

.suggestion:hover {
    background: #d5d5d5;
}